---
layout: default
title:
description: Simon Zirui Guo
featured_image:
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MFV5621985"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MFV5621985');
</script>


<section class="intro">
    <div class="wrap row">
        <div class="col-lg-4 col-sm-12">
            <img src="/images/headshot.jpg" class="about_img">
        </div>

        <div class="col-lg-8 col-sm-12 about">
            <h3>Hi, I am Simon.</h3>
            </br>
            
            <p class="about_text">
                I am studying at UC Berkeley, majoring in <a href="https://eecs.berkeley.edu/">Electrical Engineering and Computer
                Science</a>. I like to build hardware and software systems that make the impossible inevitable. Currently, I am at
                <a href="https://www.anyscale.com/">Anyscale</a> building distributed systems. Previously, I worked on Autonomous Vehicles at <a href="https://www.nvidia.com/en-us/self-driving-cars/">NVIDIA</a>, 
                Hardware Startup Prototyping and Investment at <a href="https://hax.co/">HAX</a>, Brain-Computer Interfaces at <a href="https://choosemuse.com/">Interaxon</a>. 
                In past times, I spent weekends hacking up <a href="https://www.notion.so/Hackathons-bd9c1bf46a1c4ef89eca0add96eb6b7a">side projects</a> at 30+ hackathons around the world.
                </p>
            
                <p>
                I like to read Greek & Roman Classics, German Intellects (Nietzsche, Kant, Hegel), English Romantics (William Blake), etc. 
                I also like to run, <a href="https://www.instagram.com/simon.scribbles/">paint</a>, and learn new instruments (<a href="https://youtu.be/aALVDa-wlcE">saxophone</a>, guitar). I lived in Bay Area, Toronto, Cambridge, Shenzhen, and Shanghai.
                I draw inspiration from friends in <a href="https://joininteract.com/">Interact Fellowship</a> and <a href="https://eecs.berkeley.edu/resources/undergrads/accel">Accel Scholars</a>.
                </p>
                
                <p>
                If you are interested in my journey, please continue browsing the site. 
                I enjoy meeting people from all disciplines, so feel free to contact me at simonguozirui [@] berkeley dot edu.
                </p>
            
                <p>At this time, I am looking for <b>graduate school / research (in Computer Architecture and Systems) or full-time oppurtunity starting in 2023</b>. If you are interested, please feel free to contact me!</p>
                
            <!-- <p> I obtained my MS at the University of Chicago, advised by Prof. Pedro Lopes, and BA at UNC-Chapel Hill with a double major in Journalism and Computer Science, advised by Prof. Henry Fuchs. Before jumping into academic research, I had experience in product management and marketing, where I explored areas such as content ecosystem, cybersecurity, and health advertising.</p> -->

            <h6>
                <a class="highlight_link" href="https://www.dropbox.com/s/zd2x505vekbsl3v/Simon_Zirui_Guo_Resume.pdf?dl=0">Resume</a>
                <a class="highlight_link" href="https://www.dropbox.com/s/gr1zsbyq2uvbk5f/Simon_Zirui_Guo_CV.pdf?dl=0">CV</a>
            </h6>

        </div>
    </div>
</section>

<section class="listing single" id="research">
    <div class="wrap grey">
        <h1 class="divider">Research</h1>
        <p>My research area are at the intersection of <b>computer architecture</b> and <b>systems</b> to unleash new capabilities. These include hardware-software codesign, accelerated computing, distributed computing, operating systems, etc. </p>
        {% for project in site.research reversed%}

        <article class="listing-post2">
<!--             <div class="listing-post__header">
                <h3 class="listing-post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h3>
            </div> -->

            {% if project.featured_image %}
            <div class="row">
                <div class="col-lg-4 col-sm-12">
 <!--                    <a href="{{ project.url | relative_url }}" class="listing-post__image" style="background-image: url({{ project.featured_image | relative_url }});"></a> -->

                    <a class="listing-post__image" style="background-image: url({{ project.featured_image | relative_url }});"></a>
                </div>

                {% endif %}

                <div class="listing-post__content col-lg-8 col-sm-12">
                    <h6>{{ project.title }}</h6>
                    <p class="no_margin">{{ project.author }}</p>
                    <p class="no_margin">{{ project.author_notation }}</p>

                    <p class="no_margin"><i>{{ project.conference }}</i></p>

                    <!-- <div class="proceeding">
                        <p class="no_margin"><i>{{ project.conference }}</i></p>
                        <p class="no_margin" id="award">{{ project.award }}</p>
                    </div>
                     -->
                    <!-- <p class="excerpt">{{ project.excerpt }}</p> -->
                    <br />
                    <span class="link">
                        <h6><a class="highlight_link" href="{{ project.paper_url  | relative_url }}">{{ project.paper_text }}</a></h6>
                        <h6><a class="highlight_link middle_link" href="{{ project.video_url  | relative_url }}">{{ project.video_text }}</a></h6>
                        <h6><a class="highlight_link" href="{{ project.talk_url  | relative_url }}">{{ project.talk_text }}</a></h6>
                    </span>
                </div>
            </div>

        </article>

        {% endfor %}

    </div>

</section>


<!-- <section class="listing single">
    <div class="wrap">
        <h1>Main Interest</h1>
        {% for post in paginator.posts %}
        <article class="listing-post">
            {% if post.featured_image %}
            <a href="{{ post.url | relative_url }}" class="listing-post__image" style="background-image: url({{ post.featured_image | relative_url }});"></a>
            {% endif %}
            <div class="listing-post__header">
                <h6 class="listing-post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h6>
                <p class="subtitle">{{ post.excerpt }}</p>
            </div>
            <div class="listing-post__content">
            </div>
        </article>
        {% endfor %}
    </div>
</section> -->

{% if paginator.total_pages > 1 %}
<section class="pagination">
    {% if paginator.previous_page %}
    <div class="pagination__prev">
        <a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="pagination__next">
        <a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Projects</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
    {% endif %}
</section>
{% endif %}