---
layout: default
title:
description: Simon Zirui Guo
featured_image:
---
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MFV5621985"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MFV5621985');
</script>


<section class="intro">
    <div class="wrap row">
        <div class="col-lg-4 col-sm-12">
            <img src="/images/headshot.jpg" class="about_img">
        </div>

        <div class="col-lg-8 col-sm-12 about">
            <h3>Hi, I am Simon.</h3>
            </br>
            
            <p class="about_text">
                I am an incoming CS PhD student at Stanford University. I recently graduated from UC Berkeley, where I majored in <a href="https://eecs.berkeley.edu/">Electrical Engineering and Computer
                Science</a>. 
            </p>

            <p>
                I love interfacing with both bits (software) and atoms (hardware), especially playing at their intersection. 
                Currently, I am training Language Models more efficiently at <a href="https://cohere.com/">Cohere</a>.
                Previously, I designed GPUs at <a href="https://www.apple.com/ca/newsroom/2023/10/apple-unveils-m3-m3-pro-and-m3-max-the-most-advanced-chips-for-a-personal-computer/#:~:text=The%20GPU%20is%20faster%20and,the%20M1%20family%20of%20chips.">Apple</a>, 
                scaled out Distributed Systems at <a href="https://www.anyscale.com/">Anyscale</a>, and built Autonomous Vehicles at <a href="https://www.nvidia.com/en-us/self-driving-cars/">NVIDIA</a>.
            </p>
            
            <p>
                Here are my favourite <a href="https://bookshelf.website/simonguozirui/">books</a> and <a href="https://curius.app/simon-guo">writings</a>.
                I also like to go outdoors, <a href="https://www.instagram.com/simon.scribbles/">paint</a>, and play <a href="https://youtu.be/aALVDa-wlcE">music</a>. I lived in the Bay Area, Toronto, Italy, Boston, Shenzhen, and Shanghai.
                I draw inspiration from friends in <a href="https://joininteract.com/">Interact Fellowship</a> and <a href="https://eecs.berkeley.edu/resources/undergrads/accel">Accel Scholars</a>.
            </p>
                
            <p> In more distant time, I prototyped robots at <a href="https://hax.co/">HAX</a>, designed Brain-Computer Interfaces at <a href="https://choosemuse.com/">Interaxon</a>, and spent weekends hacking up <a href="https://www.notion.so/Hackathons-bd9c1bf46a1c4ef89eca0add96eb6b7a">side projects</a> at 30+ hackathons around the world.</p>
            <p>
                If you are interested in my journey, please check out the rest of this site. 
                I enjoy meeting people from all disciplines, so feel free to contact me at simonguozirui [@] berkeley dot edu.
            </p>
                            
            <h6>
                <a class="highlight_link" href="https://www.dropbox.com/s/zd2x505vekbsl3v/Simon_Zirui_Guo_Resume.pdf?dl=0">Resume</a>
                <a class="highlight_link" href="https://www.dropbox.com/s/gr1zsbyq2uvbk5f/Simon_Zirui_Guo_CV.pdf?dl=0">CV</a>
            </h6>

        </div>
    </div>
</section>

<section class="listing single" id="research">
    <div class="wrap grey">
        <h1 class="divider">Research</h1>
        <p>I think the future of computing would be specialized and distributed, thus I explored a variety of related challenges.
            These include hardware-software codesign, parallelism and efficient compilation, systems for Machine Learning, etc. 
            I published at <b>computer architecture</b>, <b>systems</b>, and <b>ml sys</b> conferences. </p>
        {% for project in site.research reversed%}

        <article class="listing-post2">
<!--             <div class="listing-post__header">
                <h3 class="listing-post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h3>
            </div> -->

            {% if project.featured_image %}
            <div class="row">
                <div class="col-lg-4 col-sm-12">
 <!--                    <a href="{{ project.url | relative_url }}" class="listing-post__image" style="background-image: url({{ project.featured_image | relative_url }});"></a> -->

                    <a class="listing-post__image" style="background-image: url({{ project.featured_image | relative_url }});"></a>
                </div>

                {% endif %}

                <div class="listing-post__content col-lg-8 col-sm-12">
                    <h6>{{ project.title }}</h6>
                    <p class="no_margin">{{ project.author }}</p>
                    <p class="no_margin">{{ project.author_notation }}</p>

                    <p class="no_margin"><i>{{ project.conference }}</i></p>

                    <!-- <div class="proceeding">
                        <p class="no_margin"><i>{{ project.conference }}</i></p>
                        <p class="no_margin" id="award">{{ project.award }}</p>
                    </div>
                     -->
                    <!-- <p class="excerpt">{{ project.excerpt }}</p> -->
                    <br />
                    <span class="link">
                        <h6><a class="highlight_link" href="{{ project.paper_url  | relative_url }}">{{ project.paper_text }}</a></h6>
                        <h6><a class="highlight_link middle_link" href="{{ project.video_url  | relative_url }}">{{ project.video_text }}</a></h6>
                        <h6><a class="highlight_link" href="{{ project.talk_url  | relative_url }}">{{ project.talk_text }}</a></h6>
                    </span>
                </div>
            </div>

        </article>

        {% endfor %}

    </div>

</section>


<!-- <section class="listing single">
    <div class="wrap">
        <h1>Main Interest</h1>
        {% for post in paginator.posts %}
        <article class="listing-post">
            {% if post.featured_image %}
            <a href="{{ post.url | relative_url }}" class="listing-post__image" style="background-image: url({{ post.featured_image | relative_url }});"></a>
            {% endif %}
            <div class="listing-post__header">
                <h6 class="listing-post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h6>
                <p class="subtitle">{{ post.excerpt }}</p>
            </div>
            <div class="listing-post__content">
            </div>
        </article>
        {% endfor %}
    </div>
</section> -->
<!-- 
{% if paginator.total_pages > 1 %}
<section class="pagination">
    {% if paginator.previous_page %}
    <div class="pagination__prev">
        <a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="pagination__next">
        <a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Projects</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
    {% endif %}
</section>
{% endif %} -->