---
layout: default
title: Projects
description: Simon Zirui Guo
featured_image:
---

<section class="listing single">
    <div class="wrap">
        <h1>Project</h1>
        {% for post in paginator.posts %}
        <article class="listing-post">
            {% if post.featured_image %}
            <a href="{{ post.url | relative_url }}" class="listing-post__image" style="background-image: url({{ post.featured_image | relative_url }});"></a>
            {% endif %}
            <div class="listing-post__header">
                <h6 class="listing-post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h6>
                <p class="subtitle">{{ post.excerpt }}</p>
            </div>
            <div class="listing-post__content">
                <!-- <p>{{ post.excerpt }}</p> -->
                <!-- <p><a href="{{ post.url | relative_url }}" class="button">Read More</a> -->
            </div>
        </article>
        {% endfor %}
    </div>
</section>

{% if paginator.total_pages > 1 %}
<section class="pagination">
    {% if paginator.previous_page %}
    <div class="pagination__prev">
        <a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="pagination__next">
        <a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Projects</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
    {% endif %}
</section>
{% endif %}